.footer-container {
    height: 300px;
    background: #1a1a1a;
    color: #a6a6a6;
    font-size: 12px;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;

    & .promises-list {
        padding-bottom: 30px;
        border-bottom: 1px solid #2c2c2c;
        color: #fff;

        & li {
            height: 53px;
            line-height: 51px;
            padding-left: 80px;
            margin-right: 80px;
            font-size: 16px;
            display: inline-block;
        }

        & li:last-child {
            margin-right: 0;
        }

        @mixin promisesList($url) {
            background: url($url) no-repeat 0 0;
            background-size: contain;
        }

        & .official {
            @include promisesList("../images/ia_100000135.png");
        }

        & .return {
            @include promisesList("../images/ia_100000136.png");
        }

        & .shipment {
            @include promisesList("../images/ia_100000137.png");
        }

        & .netease {
            @include promisesList("../images/ia_100000138.png");
        }
    }

    & .link-list {
        padding: 15px 0 8px;

        & li {
            font-size: 12px;
            padding: 0 20px;
            border-right: 1px solid #fff;
            height: 15px;
            line-height: 15px;
            display: inline-block;

            &:last-child {
                border-right: 0;
            }
        }
    }
}