.app-container {
    & .main-container {
        background: #fff url(../images/homeShopbg.png) no-repeat fixed 0 0;
        background-size: cover;

        & .shop-show {
            margin-bottom: 100px;

            & .prodBox {
                position: relative;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;

                & .prodList {
                    margin: 28px 0 50px;

                    & li {
                        width: 260px;
                        height: 300px;
                        border: 1px solid #e8e8e8;
                        margin-right: 12px;
                        margin-bottom: 16px;
                        background: #fff;
                        position: relative;
                        text-align: center;
                        display: inline-block;
                        overflow: hidden;

                        &:nth-child(4n) {
                            margin-right: 0;
                        }

                        & .sold-out {
                            bottom: 75px;
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 36px;
                            line-height: 36px;
                            font-size: 16px;
                            color: #fff;
                            background: rgba($color: #000000, $alpha: 0.3);
                        }


                        &>span {
                            display: block;
                            margin: 12px auto;
                            cursor: pointer;
                        }

                        & img {
                            height: 210px;
                            max-width: 100%;
                            cursor: pointer;
                        }
                        
                        & .prod-info {
                            width: 90%;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
    
                        }
                        & .price-info {
                            & .label {
                                color: #b3b3b3;
                            }

                            & .price {
                                color: #e60012;
                                margin-right: 5px;
                            }
                        }

                        &:hover .addShopBtn {
                            bottom: 0;
                        }                            
                        & .addShopBtn {
                            position: absolute;
                            bottom: -40px;
                            left: 0;
                            border: 0;
                            color: #fff;
                            font-weight: 700;
                            font-size: 16px;
                            width: 100%;
                            height: 40px;
                            background: #00aeff;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}